@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300|Roboto+Slab:400,300);
h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand; }

body {
  font-family: Roboto Slab;
  padding: 0.1em;
  width: auto !important;
  overflow-x: hidden !important; }

.navbar-header .navbar-brand {
  font-family: Quicksand;
  font-weight: 400;
  color: #f25d59; }
.navbar-header .header-book {
  padding: 12px 15px; }
  .navbar-header .header-book:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0.1px; }

.panel-title .fa {
  margin-right: 0.5em; }

.link-list {
  list-style-type: none; }
  .link-list li {
    padding-left: 1.2em; }
    .link-list li:before {
      content: "ï…Œ";
      font-family: "FontAwesome";
      display: inline-block;
      width: 1.2em;
      margin-left: -1.2em; }
    .link-list li a {
      color: #d3d3d3;
      text-decoration: none; }

.casper {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-size: "12px";
  color: #f25d59;
  border: 2px solid #f25d59;
  padding: 4px;
  -webkit-transition: color 300ms, background 300ms;
  transition: color 300ms, background 300ms;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-weight: 400; }
  .casper:hover {
    background: #f25d59;
    color: #000000; }

.gmap {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden; }
  .gmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

footer {
  background-color: #f25d59; }

.text {
  font: italic 16px Georgia;
  text-align: center; }

.heart {
  display: inline-block;
  font-size: 12px;
  font-family: Georgia;
  font-style: normal;
  color: firebrick;
  text-align: center;
  min-width: 12px; }
  .heart:hover {
    cursor: pointer; }
